=render 'layouts/app_menu'
.zen-navbody
  .container
    %br
    .row
      .col-sm-8
        %h4 Activity
        %canvas#line_chart{:height => "350", :width => "700"}

        -#zen_labels = #{@appointment_activity.keys.map(&:strftime("%e-%Y"))}
        -# TODO: have to create javascript var for coffee for the rails vars.
        :javascript
          zen_labels = #{@appointment_activity.keys.map{|k| k.strftime("%e/%m")}}
          zen_data = #{@appointment_activity.values}
          zen_data_max = #{@appointment_activity.values.max}

        :coffee
          jQuery ->
            data = {
              labels: zen_labels
              datasets: [
                {
                  fillColor: "rgba(151,187,205,0.5)",
                  strokeColor: "rgba(151,187,205,1)",
                  pointColor: "rgba(151,187,205,1)",
                  pointStrokeColor: "#fff",
                  data: zen_data
                }
              ]
            }

            options = {
              scaleShowGridLines: false
              scaleShowLabels: true,
              scaleOverride: true,
              scaleStartValue: 0,
              scaleStepWidth: 1,
              scaleSteps: zen_data_max
            }

            oLineChart = new Chart($("#line_chart").get(0).getContext("2d")).Line(data, options)

      .col-sm-4
        .row
          %center
            %h4 Profit
            %canvas#dounut_chart_1{:height => "150", :width => "350"}

            :coffee
              jQuery ->
                data = [
                  {
                    value : 100,
                    color : "#D4CCC5"
                  },
                  {
                    value : 40,
                    color : "#949FB1"
                  },
                  {
                    value : 120,
                    color : "#4D5360"
                  }
                ]

                options = {
                  scaleShowLabels: false
                }

                oDoughtnutChart1 = new Chart($("#dounut_chart_1").get(0).getContext("2d")).Doughnut(data, options)

        .row
          %center
            %h4 Revenue
            %canvas#dounut_chart_2{:height => "150", :width => "350"}

            :coffee
              jQuery ->
                data = [
                  {
                    value: 30,
                    color:"#F7464A"
                  },
                  {
                    value : 50,
                    color : "#E2EAE9"
                  },
                  {
                    value : 100,
                    color : "#D4CCC5"
                  },
                  {
                    value : 40,
                    color : "#949FB1"
                  },
                  {
                    value : 120,
                    color : "#4D5360"
                  }
                ]

                options = {
                  scaleShowLabels: false
                }

                oDoughtnutChart2 = new Chart($("#dounut_chart_2").get(0).getContext("2d")).Doughnut(data, options)
  -#
    :markdown
      hello **world**
    %h2 ZenAppointments Overview

    %ul
      %li
        Small Office Software that allows owners to mangage
        %ul
          %li Client Contact Info
          %li Appointments
          %li Payment Processing

    %h3 Features
    %h4 Client
    %ul
      %li Info Details
      %li History
    %h4 Appointments
    %ul
      %li Schedule Details
      %li Automatic Reminders via email or SMS
      %li Associate a Payment
    %h4 Payement
    %ul
      %li Processing

    %h1 Dashboard
    %h3 Appointments
    %ul
      %li Show next Appointments
      %li Show which Appointments have had confirmation emails/SMS sent
      %li Show which Appointments have confirmed

    %h3 Stats
    %ul
      %li
        graphs showing
        %ul
          %li Days with appoiments already sceduled (next 30 days)
          %li percent usage per day
          %li revenue

    %h2 Interface

    %h4 Concerns
