.container
  !=flash_handler
  .app-title
    %h1
      =link_to app_name, www_url
  .signin-dialog
    .row
      .col-sm-6.col-sm-offset-3
        .well
          =form_for :session, url: signin_path, html: {class: 'form-horizontal'} do |f|
            %legend Welcome back
            .form-group
              .row
                %label.col-lg-4.control-label Email
                .col-lg-6
                  %input.input{name: 'session[email]', value: @email, placeholder: 'Email', type: 'text', class: 'form-control'}
            .form-group
              .row
                %label.col-lg-4.control-label Password
                .col-lg-6
                  =f.password_field :password, class: 'form-control', placeholder: 'Password'
            .form-group
              .row
                .col-lg-offset-4.col-lg-6
                  =button_tag 'Sign In', type: 'submit', class: 'btn btn-primary', 'data-disable-with' => 'Signing In ...'
    .row
      .col-sm-6.col-sm-offset-3
        %p
          You don't have an account?
          =link_to 'Sign up now!', signup_path
-#= render 'pages/footer'
