.container
  !=flash_handler
  .login-dialog
    .row
      .span4.offset4
        =form_for :session, url: sessions_path, html: {class: 'form-signin'} do |f|
          .fieldset
            %legend Welcome back
            .control-group
              .controls
                .input-prepend
                  %span.add-on#login
                    %i.icon-envelope
                  =f.text_field :email, class: 'span2', id: 'inputIcon', placeholder: 'Email'
            .control-group
              .controls
                .input-prepend
                  %span.add-on#login
                    %i.icon-key
                  =f.password_field :password, class: 'span2', id: 'inputIcon', placeholder: 'Password'
            .control-group
              %label.control-label
              .controls
                =button_tag 'Login', class: 'btn btn-primary', 'data-disable-with' => 'Processando ...'
    .row
      .span6.offset4
        =link_to 'You don\'t have an account? Sign up now!', signup_path
-#= render 'pages/footer'

