.zen-navbody
  .container
    %h1 Clients

    -#.input-group
      -# TODO: add label so clicking on search icon send focus and curso to text field
      %input.form-control.search-client{ placeholder: 'Search', type: 'text' }
      -# TODO: PUT fa-search icon inside text field. currently the span looks like a button that does nothing
      %span.input-group-addon
        %i.fa.fa-search
    -#.client-search-results
