.zen-navbody
  .container
    %h1 Payments

    %h3 Overview
    %ul
      %li Allows owner to processes payments
      %li
        Allows owner define 'products', which are predefined payments with names
        %ul
          %li They can select one of the predefined payments or use a one off value
          %li stats will use these products names
      %li
        Payments accepted are
        %ul
          %li Credit Cards (visa/mastercard)
          %li Debit Cards
          %li Cash
          %li Cheque
          %li Generate boleto in brasil?
      %li Send receipt by email (ask for email if client.email is null)


    %h3 Interface
    %ul
      %li
        Show list of 'closest/next/todays/yesterdays' appointments that haven't been processed
        %ul
          %li Select an item allows starting payment processing
      %li
        Graphs and pie charts of payments stats? (see concerns)
        %ul
          %li Total of Booked Value
          %li Graph of Booked value verus Time
          %li Graph of Processed value versus Time
      %li
        Show list of recently processed payments
        %ul
          %li Allow rollback on credit card payments

    %h4 Concerns
    %ul
      %li The client will see this screen possibly (they will type the secret code?). Maybe we should not show totals here?
      %li Taxes
      %li NF Paulista?


