h1.logo {
  font-family: helvetica;
  color: #444;
}

#appointments .calendar {
  border-collapse:collapse;
  width:100%;

  td, th {
    font-family:"Lucida Grande", arial, helvetica, sans-serif;
    font-size:10px;
    padding:6px;
    border:1px solid #999;
  }

  th {
    background:#ddd;
    color:#666;
    text-align:center;
    width:14.2857142857143%;
  }

  td {
    background:#fff;
    color:#777;
    height:80px;
    vertical-align:top;
    font-size:16px;
  }

  .notmonth, .notmonth a { color:#ccc; }
  .today { background-color:#d7f2ff; }
}

#appointments #calendar-selector {
  // TODO: not centering the group
  margin-left:auto;
  margin-right:auto;
}

#appointments #month {
  margin:0;
  padding-bottom:10px;
  text-align:center;
  font-size:22px;
  a {
    text-decoration:none;
    padding:0 10px;
    color:#999;
  }
}

#appointments {
  #new_appointment {
    //position:absolute;
    //float:right;
    background:#fff;
    position:relative;
    border-style:solid;
    border-width:1px;
    height: 300px;
    width: 400px;
    //display:none;
  }
}

#appointments .agenda {
  border-collapse:collapse;
  width:100%;

  .new_appointment {
    width:100%;
    font-size:14px;
  }

  td, th {
    font-family:"Lucida Grande", arial, helvetica, sans-serif;
    font-size:10px;
    padding:6px;
    border:1px solid #999;
  }

  th {
    background:#ddd;
    color:#666;
    text-align:center;
    //width:14.2857142857143%;
  }

  .corner {
    background:#fff;
    border-top:none;
    border-left:none;
  }

  .hour {
    background:#ddd;
    text-align:right;
    width:100px;
  }

  .edit_hour {
    width:30%; // TODO: hack because there are 3 employyes + 1 hour column
  }

  td {
    background:#fff;
    color:#777;
    height:20px;
    vertical-align:top;
    font-size:16px;
  }
}

#zen-logo {
  position:relative;
  top:-2px;
}

#view_selector {
  // TODO: should use absolute position
  position:absolute;
  right:0px;
  // TODO: ugly hack to make it work
  top:65.0px;
}

/*#signout {
  // TODO: should use absolute position
  position:absolute;
  right:0px;
  // TODO: ugly hack to make it work
  top:16.5px;
}*/

.nav-bar {
  background:#ddd;
  color:#333;
  width:100%;
  font-family:"Lucida Grande", arial, helvetica, sans-serif;
  font-size:14px;
  padding:6px;
  border:1px solid #999;
  a {
    text-decoration:none;
    padding:0 10px;
    color:#333;
  }
}
