$duration-min-hour: 0;
$duration-max-hour: 24;
$minutes-per-hour: 60;
$min-number-slots: 2;
$max-number-slots: 8;
$hour-height-unitless: 40;
$hour-height: 1px * $hour-height-unitless;

h1.logo {
  font-family: helvetica;
  color: #444;
}

#appointments .calendar, #appointments .agenda, #appointments .week {
  border-collapse:collapse;
  width:100%;

  td, th {
    font-family:"Lucida Grande", arial, helvetica, sans-serif;
    font-size:10px;
    border:1px solid #999;
  }

  th {
    background:#ddd;
    color:#666;
    text-align:center;
    height:30px;
  }

  td {
    background:#fff;
    color:#777;
    vertical-align:top;
    font-size:16px;
  }

  .corner {
    background:#fff;
    border-top:none;
    border-left:none;
  }

  .hour-header {
    padding: 3px 6px 0px 10px;
    background: #ddd;
    text-align: right;
    width: 200px;
  }

  .hour {
    text-align: left;
  }

  .notmonth, .notmonth a { color:#ccc; }
  .today { background-color:#d7f2ff; }
}

#appointments .agenda {
  th, td {
    padding:0px;
  }

  td {
    width:90%;
    height:$hour-height;
  }
}

#appointments .week {
  th, td {
    padding:0px 0px 0px 0px;
  }

  th {
    width:12.5%;
  }

  td {
    height:$hour-height;
  }
}

#appointments .calendar {
  td, th {
    padding:6px;
  }

  th {
    width:14.2857142857143%;
  }

  td {
    height:80px;
  }
}

#appointments #calendar-selector {
  // TODO: not centering the group
  margin-left:auto;
  margin-right:auto;
}

#appointments #month {
  margin:0;
  padding-bottom:10px;
  text-align:center;
  font-size:22px;
  a {
    text-decoration:none;
    padding:0 10px;
    color:#999;
  }
}

#appointments #active-hour {
  // TODO: moz and webkit are probably not correct
  //-moz-box-shadow: inset 3px 3px 3px rgba(68,170,68,0.7);
  //-webkit-box-shadow: inset 3px 3px 3px rgba(68,170,68,0.7);
  box-shadow: inset 0 0 3px 3px rgba(68,170,68,0.7);
}

.client-appointment {
  position: absolute;
  box-shadow: inset 0 0 3px 3px rgba(68,170,68,0.7);
  background: #8d8;
  color: #222;
  padding: 5px;
  margin: 0px;
  cursor: all-scroll;
  border: 1px solid #262;
  z-index: 2;
  width: 12.5%;

  .client-appointment-name {
    font-size: 12px;
    font-weight: bold;
  }

  .client-appointment-time {
    font-size: 10px;
  }
}

li.month-appointment {
  border: 1px solid #262;
  box-shadow: inset 0 0 3px 3px rgba(68,170,68,0.7);
  background: #8d8;
  margin: 1px;
  padding: 2px 5px;
  font-size:10px;
  color:#222;
  font-weight: bold;
  list-style: none;
}

@for $tot-slot from $min-number-slots through $max-number-slots {
  @for $hour from $duration-min-hour through $duration-max-hour {
    @for $slot from 0 to $tot-slot {
      // TODO: need to loop from 0 to $slots
      // 7 slots per hour generates a decimal number that can not be used as a class name.
      @if $tot-slot != 7 {
        @if $hour + $slot != 0 {
          @debug "tot-slot: #{$tot-slot} hour: #{$hour} slot: #{$slot} slot px: #{($hour * $minutes-per-hour + ($minutes-per-hour / $tot-slot) * $slot)}";
          // TODO hack: multipling by 10 here because slot: 8 generetes a decimal .5
          .client-appointment.duration-#{$tot-slot}-#{($hour * $minutes-per-hour + ($minutes-per-hour / $tot-slot) * $slot) * 10} {
            height: 1px * (($hour-height-unitless / $tot-slot) * ($hour * $tot-slot + $slot) + $hour);
          }
        }
      }
    }
  }
}

.slot {
  display: block;
  width: 100%;
}

@for $tot-slot from $min-number-slots to $max-number-slots + 1 {
  @for $slot from 0 to $tot-slot {
    .slot.slot-#{$tot-slot}-#{$slot} {
      height: $hour-height / $tot-slot;

      @if $slot == ($tot-slot / 2 - 1) {
        border-bottom: 1px dashed #d5d5d5;
      }
      @else if $slot != ($tot-slot - 1) {
        border-bottom: 1px dotted #e5e5e5;
      }
    }
  }
}

#zen-logo {
  position:relative;
  top:-2px;
}

#view_selector {
  // TODO: should use absolute position
  position:absolute;
  right:0px;
  // TODO: ugly hack to make it work
  top:65.0px;
}

.nav-bar {
  background:#ddd;
  color:#333;
  width:100%;
  font-family:"Lucida Grande", arial, helvetica, sans-serif;
  font-size:14px;
  padding:6px;
  border:1px solid #999;
  a {
    text-decoration:none;
    padding:0 10px;
    color:#333;
  }
}
