$duration-min-hour: 0;
$duration-max-hour: 24;
$minutes-per-hour: 60;
$min-number-slots: 2;
$max-number-slots: 6;
$slot-height-unitless: 20;
$slot-height: 1px * $slot-height-unitless;

.signup-dialog {
  padding: 30px 0px 0px 0px;
}

#appointments .calendar, #appointments .agenda, #appointments .week {
  border-collapse:collapse;
  width: 100%;

  td, th {
    font-family:"Lucida Grande", arial, helvetica, sans-serif;
    font-size: 12px;
    //border: 1px solid #999;
    //border: 10px solid #fff;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    border-right: 1px solid #ccc;
    //margin: 5px 5px 5px 5px;
    //padding: 5px 0px 0px 5px;

  }

  th, a {
    background: #ddd;
    color: #666;
    text-align:center;
    height: 30px;
  }

  td {
    background: #fff;
    color: #777;
    vertical-align:top;
    font-size: 16px;
  }

  .corner {
    background: #fff;
    border-top:none;
    border-left:none;
  }

  .hour-header {
    padding: 3px 6px 0px 10px;
    background: #eee;
    text-align: right;
  }

  .hour {
    text-align: left;
  }

  .weekend { background-color: #eee; }
  .notmonth, .notmonth a { color: #ccc; }
  .today { background-color: #d7f2ff; }
}

#appointments .agenda {
  th, td {
    padding: 0px;
  }

  .hour-header {
    width: 10%;
  }

  td {
    width: 90%;
  }
}

#appointments .week {
  th, td {
    padding: 0px;
  }

  .hour-header {
    width: 10%;
  }

  th {
    width: 12.857142857%;
  }
}

#appointments .calendar {
  td, th {
    padding: 6px;
  }

  th {
    width: 14.2857142857143%;
  }

  td {
    height: 80px;
  }
}

#appointments #calendar-selector {
  // TODO: not centering the group
  margin-left: auto;
  margin-right: auto;
}

#appointments #month {
  margin: 0px;
  padding-bottom: 10px;
  text-align:center;
  font-size: 22px;
  a {
    text-decoration:none;
    padding: 0 10px;
    color: #999;
  }
}

#appointments #active-hour {
  // TODO: moz and webkit are probably not correct
  //-moz-box-shadow: inset 3px 3px 3px rgba(68,170,68,0.7);
  //-webkit-box-shadow: inset 3px 3px 3px rgba(68,170,68,0.7);
  box-shadow: inset 0 0 3px 3px rgba(68,170,68,0.7);
}

.client-appointment {
  position: absolute;
  box-shadow: inset 0 0 3px 3px rgba(68,170,68,0.7);
  background: #8d8;
  color: #222;
  padding: 5px;
  margin: 0px;
  cursor: all-scroll;
  border: 1px solid #262;
  z-index: 2;
  width: 12.5%;

  .client-appointment-name {
    font-size: 12px;
    font-weight: bold;
  }

  .client-appointment-time {
    font-size: 10px;
  }
}

li.month-appointment {
  border: 1px solid #262;
  box-shadow: inset 0 0 3px 3px rgba(68,170,68,0.7);
  background: #8d8;
  margin: 1px;
  padding: 2px 5px;
  font-size: 10px;
  color: #222;
  font-weight: bold;
  list-style: none;
}

// TODO only generate $tot-slot for 2, 4, 6
@for $tot-slot from $min-number-slots through $max-number-slots {
  @for $hour from $duration-min-hour through $duration-max-hour {
    @for $slot from 0 to $tot-slot {
      // TODO: need to loop from 0 to $slots
      // 7 slots per hour generates a decimal number that can not be used as a class name.
      @if $tot-slot != 7 {
        @if $hour + $slot != 0 {
          @debug "tot-slot: #{$tot-slot} hour: #{$hour} slot: #{$slot} slot px: #{($hour * $minutes-per-hour + ($minutes-per-hour / $tot-slot) * $slot)}";
          // TODO hack: multipling by 10 here because slot: 8 generetes a decimal .5
          .client-appointment.duration-#{$tot-slot}-#{($hour * $minutes-per-hour + ($minutes-per-hour / $tot-slot) * $slot) * 10} {
            height: 1px * (($slot-height-unitless) * ($hour * $tot-slot + $slot) + $hour);
          }
        }
      }
    }
  }
}

.slot {
  display: block;
  width: 100%;
}

// TODO only generate $tot-slot for 2, 4, 6
@for $tot-slot from $min-number-slots through $max-number-slots {
  @for $slot from 0 to $tot-slot {
    .slot.slot-#{$tot-slot}-#{$slot} {
      height: $slot-height;

      @if $slot == ($tot-slot / 2 - 1) {
        border-bottom: 1px dashed #d5d5d5;
      }
      @else if $slot != ($tot-slot - 1) {
        border-bottom: 1px dotted #e5e5e5;
      }
    }
  }
}

#zen-logo {
  position:relative;
  top:-2px;
}

.view-header {
  height: 60px;
  padding: $zen-menu-margin-bottom 0px 10px 0px;
  position: relative;
  //margin: 10px;
}

.view-header-quick-nav {
  float: left;
}

.view-header-title {
  float: left;
  padding: 3px 10px 10px 15px;
  font-size: 16pt;
  font-weight: 500;
}

.view-header-selector {
  float: right;
}

.navbar {
  margin-bottom: 0px;
}
