.client-appointment{ class: [appointment.id, "duration-#{appointment.duration}"],
  data: { appointment: appointment.id,
    duration: appointment.duration,
    name: appointment.client.name,
    email: appointment.client.email,
    interval: format_appointment_interval(hour, appointment.duration),
    telephone_cellular: appointment.client.telephone_cellular } }
  .client-appointment-name
    =appointment.client.name
  .client-appointment-time
    =format_appointment_interval(hour, appointment.duration)
