.client-appointment{ class: [appointment.id, "duration-#{appointment.duration}"],
  data: { appointment: appointment.id,
    client: appointment.client.id,
    duration: appointment.duration,
    name: appointment.client.name,
    first_name: appointment.client.first_name,
    last_name: appointment.client.last_name,
    email: appointment.client.email,
    telephone_cellular: appointment.client.telephone_cellular,
    interval: format_appointment_interval(hour, slot, appointment.duration) } }
  .client-appointment-name
    =appointment.client.name
  .client-appointment-time
    =format_appointment_interval(hour, slot, appointment.duration)
