.client-appointment{id: appointment.id,
  data: {appointment: appointment.id,
    name: appointment.client.name,
    email: appointment.client.email,
    telephone_cellular: appointment.client.telephone_cellular}}
  .client-appointment-name
    =appointment.client.name
  .client-appointment-time
    ="#{hour}:00 - #{hour + 1}:00"
