.client-appointment{data: {appointment: appointment.id,
                            name: appointment.client.name}}
  .client-appointment-name
    =appointment.client.name
  .client-appointment-time
    ="#{hour}:00 - #{hour + 1}:00"
