%select.form-control(multiple){ name: 'client_id' }
  -@clients.each do |c|
    %option.results-item{ value: c.id, data: { id: c.id } }
      =c.name
-# TODO brs are a HACK
%br
%br
=button_tag 'Add', class: 'btn btn-primary', 'data-disable-with' => 'Adding ...'
