#appointments-panel
  =render('header')
  =agenda @date, @employees do |employee, hour|
    -if @appointments_by_hour[hour]
      -@appointments_by_hour[hour].each do |appointment|
        =render('card', appointment: appointment, hour: hour)
