#appointments-panel
  =render('header')
  =agenda @date, @employees do |employee, hour|
    -if @appointments_by_hour[hour]
      -n = 100
      -@appointments_by_hour[hour].each do |appointment|
        -# TODO fix ugly css position hack
        .client-appointment{style: "left:#{n}px;", data: {appointment: appointment.id}}
          =appointment.client.name
        -n = n + 50
