#appointments-panel
  =render('header')
  =agenda @date, @employees do |employee, hour|
    -if @appointments_by_hour[hour]
      -# TODO magic numbers for alignment with our
      -offset = 100 + 5
      -@appointments_by_hour[hour].each do |appointment|
        =render('card', appointment: appointment, hour: hour, offset: offset)
        -offset = offset + 120 + 10
