.appointment-dialog#appointment-template
  .arrow
  .appointment-content
    .appointment-header
      %button.close.close-appointment-dialog{ type: 'button' }
        %i.icon-remove
      %button.color-selector{ type: 'button' }
        %i.icon-qrcode
      %h3
        %i.icon-warning-sign.appointment-dialog-error
        Appointment
    .appointment-body
      .appointment-details
        .row
          .col-sm-6
            .appointment-weekday
          .col-sm-6
            .appointment-time
        .row
          .col-sm-6
            .appointment-date
          .col-sm-6
            .appointment-duration
      .appointment-client
        .appointment-client-search
          %h4
            Client
            %button.btn-tool.show-client-add{ type: 'button' }
              %i.icon-plus
              Add
          =form_for :appointment, url: appointments_create_path, html: { class: 'form-inline', data: { remote: 'true' } } do |f|
            =f.hidden_field :hour, class: 'hour-field'
            =f.hidden_field :time, value: @date
            =f.hidden_field :duration, value: 60
            =f.hidden_field :slot, value: 0
            .input-group
              -# TODO: add label so clicking on search icon send focus and curso to text field
              %input.form-control.search-client{ placeholder: 'Search', type: 'text' }
              -# TODO: PUT icon-search icon inside text field. currently the span looks like a button that does nothing
              %span.input-group-addon
                %i.icon-search
            .client-search-results
        .appointment-client-edit
          =form_for :appointment, url: appointments_create_path, html: { class: 'form-inline', data: { remote: 'true' } } do |f|
            =f.hidden_field :client_id, class: :client_id
            =f.hidden_field :hour, class: 'hour-field'
            =f.hidden_field :time, value: @date
            =f.hidden_field :duration, value: 60
            =f.hidden_field :slot, value: 0
            .if-client-not-exists
              %h4
                Client
                %button.btn-tool.show-client-search{ type: 'button' }
                  %i.icon-search
                  Search
            .if-client-exists
              %h4
                Client
                %button.btn-tool.show-client-details{ type: 'button' }
                  %i.icon-user
                  Details
            .row
              .col-sm-6
                .form-group#first-name{ class: error_class(@client, :first_name) }
                  -# TODO for is not working here but works in signin. why?
                  %label.control-label{ for: 'first-name' }
                    First Name
                    %input.form-control.first-name{ placeholder: 'First Name', name: 'appointment[first_name]', value: @client[:first_name], type: 'text' }
                    -unless error_message(@client, :first_name).nil?
                      %p.help-block#first-name
                        =error_message(@client, :first_name)
                .form-group#telefone-celular{ class: error_class(@client, :first_name) }
                  -# TODO for is not working here but works in signin. why?
                  %label.control-label{ for: 'telephone-cellular' }
                    Cellular
                    %input.form-control.telephone-cellular{ placeholder: 'Cellular', name: 'appointment[telephone_cellular]', value: @client[:telephone_cellular], type: 'text' }
                    -unless error_message(@client, :first_name).nil?
                      %p.help-block#telephone-cellular
                        =error_message(@client, :telephone_cellular)
                .form-group
                  =button_tag 'Save', class: 'btn btn-primary', 'data-disable-with' => 'Saving ...'
              .col-sm-6
                .form-group#last-name{ class: error_class(@client, :last_name) }
                  %label.control-label{ for: 'last-name' }
                    Last Name
                    %input.form-control.last-name{ placeholder: 'Last Name', name: 'appointment[last_name]', value: @client[:last_name], type: 'text' }
                    -unless error_message(@client, :last_name).nil?
                      %p.help-block#last-name
                        =error_message(@client, :last_name)
                .form-group#email{ class: error_class(@client, :email) }
                  %label.control-label{ for: 'email' }
                    Email
                    %input.form-control.email{ placeholder: 'Email', name: 'appointment[email]', value: @client[:email], type: 'text' }
                    -unless error_message(@client, :email).nil?
                      %p.help-block#email
                        =error_message(@client, :email)
        .appointment-client-details
          %h4
            Client
            %button.btn-tool.show-client-edit{ type: 'button' }
              %i.icon-edit
              Edit
          .appointment-field.title
            .name
          .appointment-field
            .email
          .appointment-field
            .telephone-cellular
          .appointment-delete
            %button.btn-tool.btn-delete.delete-appointment{ type: 'button' }
              %i.icon-remove-sign
              Delete
      .appointment-footer
