-# TODO: calling function on @date (through send) that came from the net. Things that make you go hmmm.
.view-header
  .view-header-quick-nav
    -#=remote_link_icon_to 'calendar', '#'
    -# TODO Add today button?
    =remote_link_icon_to 'angle-left', appointments_path(date: @date.send('prev_' + @view), view: @view)
    =remote_link_icon_to 'angle-right', appointments_path(date: @date.send('next_' + @view), view: @view)
  .view-header-title
    =@nav_title
  .view-header-selector
    .btn-group{id: 'calendar-selector', data: {toggle: 'buttons-radio'}}
      =link_to 'Day', appointments_path(view: 'day', date: @date),
        { alt: 'Day',
          id: 'link-day',
          class: active_btn(@view, 'day'),
          data: { remote: 'true' } }
      =link_to 'Week', appointments_path(view: 'week', date: @date),
        { alt: 'Week',
          id: 'link-week',
          class: active_btn(@view, 'week'),
          data: { remote: 'true' } }
      =link_to 'Month', appointments_path(view: 'month', date: @date),
        { alt: 'Month',
          id: 'link-month',
          class: active_btn(@view, 'month'),
          data: { remote: 'true' } }
      =link_to 'Year', appointments_path(view: 'year', date: @date),
        { alt: 'Year',
          id: 'link-year',
          class: active_btn(@view, 'year'),
          data: { remote: 'true' } }
