-# TODO: calling function on @date (through send) that came from the net. Things that make you go hmmm.
.view-header
  .view-header-quick-nav
    .btn-group{data: {toggle: 'buttons-radio'}}
      =remote_link_icon_to 'angle-left', send("appointments_#{@view}_path", date: @date.send('prev_' + @view)), '<'
      =link_to 'Today', appointments_day_path(date: Date.current),
          { alt: 'Today',
            id: 'link-today',
            class: 'btn btn-default',
            data: { remote: 'true' } }
      =remote_link_icon_to 'angle-right', send("appointments_#{@view}_path", date: @date.send('next_' + @view)), '>'
  .view-header-title
    =@nav_title
  .view-header-selector
    .btn-group{id: 'calendar-selector', data: {toggle: 'buttons-radio'}}
      =link_to 'Day', appointments_day_path(date: @date),
        { alt: 'Day',
          id: 'link-day',
          class: active_btn(@view, 'day'),
          data: { remote: 'true' } }
      =link_to 'Week', appointments_week_path(date: @date),
        { alt: 'Week',
          id: 'link-week',
          class: active_btn(@view, 'week'),
          data: { remote: 'true' } }
      =link_to 'Month', appointments_month_path(date: @date),
        { alt: 'Month',
          id: 'link-month',
          class: active_btn(@view, 'month'),
          data: { remote: 'true' } }
      =link_to 'Year', appointments_year_path(date: @date),
        { alt: 'Year',
          id: 'link-year',
          class: active_btn(@view, 'year'),
          data: { remote: 'true' } }
