#appointments_panel
  =render('header')
  =calendar @date do |date|
    =date.day
    -if @appointments_by_date[date.strftime("%Y-%m-%d")]
      -@appointments_by_date[date.strftime("%Y-%m-%d")].each do |appointment|
        .client-appointment
          =appointment.client.name
  -#:coffee
    jQuery ->
      $('.calendar').registerNewCalendarDialog('#{j render('new')}')
