-# TODO: calling function on @date (through send) that came from the net. Things that make you go hmmm.
%h3
  =remote_link_icon_to 'calendar', '#'
  -# TODO Add today button?
  =remote_link_icon_to 'angle-left', appointments_change_path(date: @date.send('prev_' + @view), view: @view)
  =remote_link_icon_to 'angle-right', appointments_change_path(date: @date.send('next_' + @view), view: @view)
  =@nav_title
