%div.new_appointment
  -#%div.new_appointment.popover.top
  %h4
    New Appointment
    %i.icon-remove

  =form_for :appointment, url: appointments_create_path, html: {class: 'form-new-appointment', data: {remote: 'true'}} do |f|
    =f.hidden_field :time, value: @date
    =f.hidden_field :hour, value: 'HOUR'
    =f.hidden_field :duration, value: 60
    .control-group{class: error_class(@client, :first_name)}
      .controls
        %span.add-on#first_name
          =f.text_field :first_name, class: 'span2', id: 'inputIcon', placeholder: 'First Name'
    .control-group
      .controls
        %span.add-on#last_name
          =f.text_field :last_name, class: 'span2', id: 'inputIcon', placeholder: 'Last Name'
    .control-group
      .controls
        %span.add-on#telefone_celular
          =f.text_field :telephone_cellular, class: 'span2', id: 'inputIcon', placeholder: 'Cellular'
    .control-group
      .controls
        %span.add-on#email
          =f.text_field :email, class: 'span2', id: 'inputIcon', placeholder: 'Email'
    .control-group
      %label.control-label
      .controls
        =button_tag 'Save', class: 'btn btn-primary', 'data-disable-with' => 'Saving ...'
