#appointments-panel
  =render('header')
  =week @date do |date, hour|
    -#=hour.to_s + ':00'
    -if @appointments_by_week[date.strftime("%Y-%m-%d ") + "%02d" % hour]
      -@appointments_by_week[date.strftime("%Y-%m-%d ") + "%02d" % hour].each do |appointment|
        .client-appointment{data: {appointment: appointment.id}}
          =appointment.client.name
