- if @appointment.nil?
  $('.appointment-dialog').attr('id', 'error');
- else
  $('#active-hour').append("<div class='client-appointment' data-appointment='#{@appointment.id}'>#{@name}</div>");
  $('.client-appointment').draggable();
  -# TODO does not call function
  -#HideClientAppointmentDialog();
  $('.appointment-dialog').css('display', 'none');
  $('#active-hour').removeAttr('id');
