- if @appointment.nil?
  $('.new-appointment').attr('id', 'error')
- else
  $('.new-appointment').remove();
  $('#active-hour').removeAttr('id');
  $('.edit-hour.hour-#{@hour}').append("<div class='client-appointment'>#{@name}</div>");
