- if @appointment.nil?
  $('.appointment-dialog').attr('id', 'error')
- else
  $('.appointment-dialog').remove();
  $('#active-hour').removeAttr('id');
  $('.edit-hour.hour-#{@hour}').append("<div class='client-appointment' data-appointment=#{@appointment.id}>#{@name}</div>");
  $('.client-appointment').draggable()
