%h1.logo zenappointments

#signout
  =current_user.name
  =link_icon_to 'cog', '#'
  =link_icon_to 'signout', signout_path, 'Sign Out'

-# TODO: too many items?
#view_selector
  .btn-group{id: 'calendar-selector', data: {toggle: 'buttons-radio'}}
    =link_to 'Day', appointments_change_path(view: 'day'), {alt: 'Day', class: 'btn', data: {remote: 'true'}}
    =link_to 'Week', appointments_change_path(view: 'week'), {alt: 'Week', class: 'btn', data: {remote: 'true'}}
    -#=link_to '2 Weeks', appointments_change_path(view: 'weeks2'), {class: 'btn', data: {remote: 'true'}}
    =link_to 'Month', appointments_change_path(view: 'month'), {alt: 'Month', class: 'btn', data: {remote: 'true'}}
    -#=link_to '2 Months', appointments_change_path(view: 'months2'), {class: 'btn', data: {remote: 'true'}}
    =link_to 'Year', appointments_change_path(view: 'year'), {alt: 'Year', class: 'btn', data: {remote: 'true'}}
    -#=link_to '2 Year', appointments_change_path(view: 'years2'), {class: 'btn', data: {remote: 'true'}}
#appointments
  =render @view
