// TODO: use .replaceWith() instead of .remove() here.
$('#appointments-panel').remove();
$('#appointments').append("#{escape_javascript render(@view)}");
HideClientAppointmentDialog();
InstallClientAppointmentHandler();
