.navbar.navbar-default.zen-navbar(role='navigation')
  .navbar-inner
    -# TODO need to define app_name url
    =link_to image_tag('zen-logo.png', id:'zen-logo') + ' ' + app_name, www_url, {class:'navbar-brand'}
    %ul.nav.navbar-nav
      -# TODO need to define home final url
      %li{:class => active('accounts#home'), id: 'home'}
        =link_to 'Home', accounts_home_path
        -# TODO specs did not catch this error
      %li{:class => active('appointments#index'), id: 'appointments_CONFLICT_WITH_VIEW_ID'}
        -# TODO inconsistent link names, others and index this is not
        =link_to 'Appointments', appointments_path
      %li{:class => active('clients#index'), id: 'clients'}
        =link_to 'Clients', clients_path#, data: {remote: true}
      %li{:class => active('payments#index'), id: 'payments'}
        =link_to 'Payments', payments_index_path#, data: {remote: true}
      %li{:class => active('employees#index'), id: 'employees'}
        =link_to 'Employees', employees_index_path#, data: {remote: true}
      %li{:class => active('accounts#reports'), id: 'reports'}
        -# TODO need to define reports final url
        -# TODO should make a controller called reports
        =link_to 'Reports' , accounts_reports_path
    %ul.nav.navbar-nav.navbar-right
      %li
        -# TODO: where should this link to. should be the same as cog?
        =link_to current_user.name, user_path(@current_user)
      %li
        -# TODO: where should this link to. should be the same as user_name?
        -# TODO: add bubble help text
        =menu_link_icon_to 'cog', user_path(@current_user), 'Configuration'
      %li
        =menu_link_icon_to 'sign-out', signout_path, 'Sign Out'
=zen_account_demo_message
