.navbar
  .navbar-inner
    -# TODO need to define app_name url
    =link_to image_tag('zen_logo.png', id:'zen-logo') + ' ' + app_name, '#', {class:'brand'}
    %ul.nav
      -# TODO need to define home final url
      %li{:class => active('foo#bar')}
        =link_to 'Home', accounts_home_path
      %li{:class => active('appointments#index')}
        -# TODO inconsistent link names, others and index this is not
        =link_to 'Appointments', appointments_path
      %li{:class => active('clients#index')}
        =link_to 'Clients', clients_index_path
      %li{:class => active('employees#index')}
        =link_to 'Employees', employees_index_path
      %li
        -# TODO need to define reports final url
        =link_to 'Reports' , accounts_reports_path
    %ul.nav.pull-right
      %li
        =link_to current_user.name, user_path(@current_user)
      %li
        =link_to raw("<i class='icon-cog icon-large'></i>"), '#', {id:'link-cog'}
      %li
        -#=link_icon_to 'signout', signout_path, 'Sign Out'
        =link_to raw("<i class='icon-signout icon-large'></i>"), signout_path, {id:'link-signout'}
