.navbar.navbar-default(role='navigation')
  .container
    .navbar-inner
      -# TODO need to define app_name url
      =link_to image_tag('zen-logo.png', id:'zen-logo') + ' ' + app_name, www_url, {class:'navbar-brand'}
