.zen-account-demo-message
  .container
    %h5
      Your
      %b
        =app_name
      -if current_user.account.remaining_demo_days < 1
        demo account has expired.
      -else
        demo account will expire in
        %b
          =current_user.account.remaining_demo_days
          days.
      =link_to 'Subscribe now and save!', accounts_payments_path
