=render 'layouts/menu'
.container

  %h2 ZenAppointments Overview
  %ul
    %li
      Small Office Software that allows owners to mangage
      %ul
        %li Client Contact Info
        %li Appointments
        %li Payment Processing

  %h3 Features
  %h4 Client
  %ul
    %li Info Details
    %li History
  %h4 Appointments
  %ul
    %li Schedule Details
    %li Automatic Reminders via email or SMS
    %li Associate a Payment
  %h4 Payement
  %ul
    %li Processing

  %h1 Home
  %h3 Appointments
  %ul
    %li Show next Appointments
    %li Show which Appointments have had confirmation emails/SMS sent
    %li Show which Appointments have confirmed

  %h3 Stats
  %ul
    %li
      graphs showing
      %ul
        %li Days with appoiments already sceduled (next 30 days)
        %li percent usage per day
        %li revenue

  %h2 Interface

  %h4 Concerns
