=render 'layouts/menu'
.container
  %h1 Home

  %h2 Overview
  %h3 Appointments
  %ul
    %li Show next Appointments
    %li Show which Appointments have had confirmation emails/SMS sent
    %li Show which Appointments have confirmed

  %h3 Stats
  %ul
    %li
      graphs showing
      %ul
        %li Days with appoiments already sceduled (next 30 days)
        %li percent usage per day
        %li revenue

  %h2 Interface

  %h4 Concerns
