=render 'layouts/app_menu'
.container

  %canvas#canvas{:height => "450", :width => "600"}

  :coffee
    jQuery ->
      data = {
        labels : ["January","February","March","April","May","June","July"],
        datasets : [
          {
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : [65,59,90,81,56,55,40]
          },
          {
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            pointColor : "rgba(151,187,205,1)",
            pointStrokeColor : "#fff",
            data : [28,48,40,19,96,27,100]
          }
        ]
      }

      myNewChart = new Chart($("#canvas").get(0).getContext("2d")).Line(data)

  %h2 ZenAppointments Overview

  %ul
    %li
      Small Office Software that allows owners to mangage
      %ul
        %li Client Contact Info
        %li Appointments
        %li Payment Processing

  %h3 Features
  %h4 Client
  %ul
    %li Info Details
    %li History
  %h4 Appointments
  %ul
    %li Schedule Details
    %li Automatic Reminders via email or SMS
    %li Associate a Payment
  %h4 Payement
  %ul
    %li Processing

  %h1 Home
  %h3 Appointments
  %ul
    %li Show next Appointments
    %li Show which Appointments have had confirmation emails/SMS sent
    %li Show which Appointments have confirmed

  %h3 Stats
  %ul
    %li
      graphs showing
      %ul
        %li Days with appoiments already sceduled (next 30 days)
        %li percent usage per day
        %li revenue

  %h2 Interface

  %h4 Concerns
