.container
  !=flash_handler
  .signup-dialog
    .row
      .span4.offset4
        =form_for @account do |f|
          .fieldset
            %legend Sign Up
            .control-group
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-user
                  =f.text_field :first_name, class: 'span4', id: 'inputIcon', placeholder: 'First Name'
            .control-group
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-user
                  =f.text_field :last_name, class: 'span4', id: 'inputIcon', placeholder: 'Last Name'
            .control-group
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-building
                  =f.text_field :company_name, class: 'span4', id: 'inputIcon', placeholder: 'Company Name'
            .control-group
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-envelope-alt
                  =f.text_field :email, class: 'span4', id: 'inputIcon', placeholder: 'Email'
            .control-group
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-key
                  =f.password_field :password, class: 'span3', id: 'inputIcon', placeholder: 'Password'
            .control-group
              %label.control-label
              .controls
                =button_tag 'Sign Up', class: 'btn btn-primary', 'data-disable-with' => 'Processando ...'
    .row
      .span6.offset4
        =link_to 'I already have an account. Sign in now!', signup_path
