.container
  !=flash_handler
  .signup-dialog
    .row
      .span8.offset2
        =form_for @account do |f|
          .fieldset
            %legend Sign Up
            .control-group{class: error_class(@user, :first_name)}
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-user
                  =f.text_field :first_name, class: 'span4', id: 'inputIcon', placeholder: 'First Name'
                %span.help-inline#first-name
                  =error_message(@user, :first_name)
            .control-group{class: error_class(@user, :last_name)}
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-user
                  =f.text_field :last_name, class: 'span4', id: 'inputIcon', placeholder: 'Last Name'
                %span.help-inline#last-name
                  =error_message(@user, :last_name)
            .control-group{class: error_class(@account, :company_name)}
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-building
                  -# TODO this is generating a value field (with nothing) that breaks the formating. what to do???
                  -#=f.text_field :company_name, class: 'span4', id: 'inputIcon', placeholder: 'Company Name'
                  %input.input{class: 'span4', id: 'inputIcon', placeholder: 'Company Name', type: 'text', name: 'account[company_name]', value: @account[:company_name]}
                %span.help-inline#company-name
                  =error_message(@account, :company_name)
            .control-group{class: error_class(@user, :email)}
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-envelope-alt
                  =f.text_field :email, class: 'span4', id: 'inputIcon', placeholder: 'Email'
                %span.help-inline#email
                  =error_message(@user, :email)
            .control-group{class: error_class(@user, :password)}
              .controls
                .input-prepend
                  %span.add-on
                    %i.icon-key
                  =f.password_field :password, class: 'span3', id: 'inputIcon', placeholder: 'Password'
                %span.help-inline#password
                  =error_message(@user, :password)
            .control-group
              %label.control-label
              .controls
                =button_tag 'Sign Up', class: 'btn btn-primary', 'data-disable-with' => 'Processando ...'
    .row
      .span6.offset4
        =link_to 'I already have an account. Sign in now!', login_path
