.container
  !=flash_handler
  .app-title
    %h1
      =link_to app_name, www_url
  .signup-dialog
    .row
      .col-sm-6.col-sm-offset-3
        .well
          =form_for @account do |f|
            %legend Sign Up
            .form-group#first-name{class: error_class(@user, :first_name)}
              .row
                %label.col-lg-4.control-label First Name
                .col-lg-6
                  -#=f.text_field :first_name, class: 'form-control', id: 'inputIcon', placeholder: 'First Name'
                  %input.form-control{placeholder: 'First Name', name: 'account[first_name]', value: @user[:first_name], type: 'text'}
                  %p.help-block#first-name
                    =error_message(@user, :first_name)
            .form-group#last-name{class: error_class(@user, :last_name)}
              .row
                %label.col-lg-4.control-label Last Name
                .col-lg-6
                  -#=f.text_field :last_name, class: 'form-control', id: 'inputIcon', placeholder: 'Last Name'
                  %input.form-control{placeholder: 'Last Name', name: 'account[last_name]', value: @user[:last_name], type: 'text'}
                  %p.help-block#last-name
                    =error_message(@user, :last_name)
            .form-group#company-name{class: error_class(@account, :company_name)}
              .row
                %label.col-lg-4.control-label Company Name
                .col-lg-6
                  -# TODO this is generating a value field (with nothing) that breaks the formating. what to do???
                  -#=f.text_field :company_name, class: 'form-control', id: 'inputIcon', placeholder: 'Company Name'
                  %input.form-control{placeholder: 'Company Name', name: 'account[company_name]', value: @account[:company_name], type: 'text'}
                  %p.help-block#company-name
                    =error_message(@account, :company_name)
            .form-group#email{class: error_class(@user, :email)}
              .row
                %label.col-lg-4.control-label Email
                .col-lg-6
                  -#=f.text_field :email, class: 'form-control', id: 'inputIcon', placeholder: 'Email'
                  %input.form-control{placeholder: 'Email', name: 'account[email]', value: @user[:email], type: 'text'}
                  %p.help-block#email
                    =error_message(@user, :email)
            .form-group#password{class: error_class(@user, :password)}
              .row
                %label.col-lg-4.control-label Password
                .col-lg-6
                  =f.password_field :password, class: 'form-control', placeholder: 'Password'
                  %p.help-block#password
                    =error_message(@user, :password)
            .row
              .form-group
                .col-lg-4.control-label
                .col-lg-6
                  %label.control-label
                  .controls
                    =button_tag 'Sign Up', class: 'btn btn-primary', 'data-disable-with' => 'Signing Up ...'
  .row
    .col-sm-6.col-sm-offset-3
      %p
        I already have an account.
        =link_to 'Sign in now!', signin_path
