=render 'layouts/app_menu'
-#.container
.col-sm-2
  .btn-group-vertical{data: {toggle: 'buttons-radio'}}
    %button.btn.btn-default(type='button')
      User
    %button.btn.btn-default(type='button')
      Administrator
    %button.btn.btn-default(type='button')
      Payments

.col-sm-10
  %h1
    Payments
